## b flag prevents snippets when in the middle of the line
###############################################
snippet . "{}" b
.$1 {
  $0;
}
endsnippet
###############################################
snippet # "{}" b
#$1 {
  $0;
}
endsnippet
###############################################
