## b flag prevents snippets when in the middle of the line
###############################################
snippet . "{}" b
.$1 {
  $2: $0 !important;
}
endsnippet
###############################################
snippet # "{}" b
#$1 {
  $2: $0 !important;
}
endsnippet
###############################################
