## b flag prevents snippets when in the middle of the line
###############################################
snippet ta "tag" b
<${1:div}>
	$2
</${1/(\w+).*/$1/}>
endsnippet
###############################################
