## b flag prevents snippets when in the middle of the line
###############################################
snippet pr "printf"
printf '%s\n' '$1'
endsnippet
###############################################
snippet > ">"
>/dev/null
endsnippet
###############################################
snippet 2> ">"
2>/dev/null
endsnippet
###############################################
snippet &> ">"
&>/dev/null
endsnippet
###############################################
