## b flag prevents snippets when in the middle of the line
###############################################
snippet pr "printf"
printf '%s\n' '$1'
endsnippet
###############################################
